<header class="header">
  <h1 class="main-heading">Currency Converter</h1>
  <h2 class="currencies-heading">Exchange rates:</h2>
  <ul class="currencies-list">
    <li class="currencies-list__item">$CURRENCY$ to $CURRENCY$ : NaN</li>
    <li class="currencies-list__item">$CURRENCY$ to $CURRENCY$ : NaN</li>
  </ul>
</header>

<main class="main">
  <h2 class="converter-heading">Converter:</h2>
  <div class="converter-controls converter-controls--1">
    <input type="number" class="converter-controls__input" />
    <select class="converter-options">
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
    </select>
  </div>

  <div class="converter-controls converter-controls--2">
    <input type="number" class="converter-controls__input" />
    <select class="converter-options">
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
    </select>
  </div>
</main>

<footer class="footer">
  <p class="footer__copyright">Created by Alex Bihas with Angular/TS/SCSS</p>
</footer>
