.main {
  margin-bottom: 12.8rem;
}

.converter-heading {
  font-size: 3rem;
  margin-bottom: 2rem;
}

input {
  display: inline-block;
  font-size: 3.2rem;
  border-radius: 9px;
  border: 1px solid black;
  background-color: #d73b5d;
  color: #fff;
  margin-right: 1rem;
}

select {
  height: 100%;
  font-size: 3.2rem;
  background-color: #99738e;
  color: #fff;
  border: none;
  border-radius: 9px;
}
