<app-header [currencies]="currencies"></app-header>
<main class="main">
  <h2 class="converter-heading">Converter:</h2>
  <div class="converter-controls converter-controls--1">
    <input
      type="number"
      class="converter-controls__input"
      #input
      (keyup)="logger(input.value)"
    />
    <select
      #selector
      class="converter-options"
      (change)="logger(selector.value)"
    >
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>

      <!-- <option *ngFor="let currency of currencies">
        {{ currency }}
      </option> -->
    </select>
  </div>

  <div class="converter-controls converter-controls--2">
    <input type="number" class="converter-controls__input" />
    <select class="converter-options">
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
      <option class="converter-options__currency">$CURRENCY$</option>
    </select>
  </div>
</main>

<app-footer></app-footer>
