<app-header [currencies]="currencies" [rates]="exchangeRates"></app-header>
<main class="main">
  <h2 class="converter-heading">Converter:</h2>
  <div class="converter-controls converter-controls--1">
    <input type="number" [(ngModel)]="baseAmount" (ngModelChange)="convert()" />
    <select
      class="converter-option"
      [(ngModel)]="baseCurrency"
      (ngModelChange)="convert()"
    >
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>

  <div class="converter-controls converter-controls--1">
    <input
      type="number"
      [(ngModel)]="targetAmount"
      (ngModelChange)="reverseConvert()"
    />
    <select
      class="converter-option"
      [(ngModel)]="targetCurrency"
      (ngModelChange)="reverseConvert()"
    >
      <option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>
</main>

<app-footer></app-footer>
